@import "@/assets/styles/variables.scss";
.breadcrumb {
  background-color: transparent !important;
  font-weight: 600;
  font-size: 16px;
}

.breadcrumb .breadcrumb-item a {
  color: #808080;
}

.breadcrumb > .active {
  color: black;
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 0.5rem;
  color: #e0e0e0;
  content: "/";
}

p {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: #2f2e41;
}
