.teste {
  position: absolute;
  width: 1920px;
  height: 477px;
  left: 0px;
  top: 2607px;
}

.icone-redes {
  height: 17.875px;
  width: 22px;
}

.oi {
  height: 40px;
  width: 202px;
  left: 476px;
  top: 2789px;
  border-radius: nullpx;
}
