@import "@/assets/styles/variables.scss";

.navbar-light .navbar-nav .nav-link {
  color: $gray;
  font-size: 20px;
  font-weight: 600;
}

.nabar-light .navbar-nar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: $purple1;
}
.navbar-light .navbar-nav .nav-link:active {
  color: $purple1;
}

.navbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
  margin-left: 100px;
  margin-right: 115px;
}

#logo_site {
  height: 25px !important;
}

.form-control:focus {
  outline: 0 !important;
  box-shadow: none;
  background-color: rgba(209, 111, 255, 0.1);
}

.input-group .form-control {
  background-color: transparent;
  border: $purple1;
  color: $purple1;
  font-weight: 600;
  font-size: 16px;
}
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text {
  border: 0;
}

.input-group .input-group-prepend {
  background-color: rgba(209, 111, 255, 0.1);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 0px;
  min-width: 353px;
  height: 40px;
}

.btn-purple1 {
  background-color: $purple1;
  border: 1px solid $purple1;
  border-color: $purple1;
  color: $white;
  font-weight: 600;
  border-radius: 20px;
  font-size: 20px;
  min-width: 178px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  text-align: center;
  &:hover {
    color: $white;
  }
}

.btn-outline-purple1 {
  background-color: transparent;
  border: 1px solid $purple1;
  color: $purple1;
  font-weight: 600;
  border-radius: 20px;
  font-size: 20px;
  min-width: 178px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  text-align: center;
  &:hover {
    color: $purple1;
  }
}

.btn.btn-secondary {
  color: #fff;
  border-color: #8bbabb;
  background: #8bbabb;
}

.btn.btn-round {
  border-radius: 40px;
}

@media screen and (max-width: 992px) {
  .navbar-brand {
    padding: 0;
    margin: 0;
  }
}
