@import "@/assets/styles/variables.scss";
navbar {
  width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
  color: $gray;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: $purple;
}

input.form-control {
  border-radius: 20px;
  opacity: 1;
  background-color: transparent;
  border: 0;
}

.card {
  width: 353px;
  height: 40px;
  background-color: transparent;
  border-radius: 20px;

  opacity: 1;
}

img {
  opacity: 1 !important;
}
