@import "bootstrap";
@import "bootstrap-vue";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import "./variables.scss";

html,
body {
  height: 100%;
  color: $blue;
}

#app {
  height: 100%;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: $black;
}

.bg-green {
  background-color: $green;
}

.bg-gray {
  background-color: $gray;
}
.text-white {
  color: $white;
}

.text-purple {
  color: $purple;
}

.text-gray {
  color: $gray;
}

.text-purple {
  color: $purple;
}
.fw-lightbold {
  font-weight: 300;
}

.fw-semibold {
  font-weight: 400;
}

.fw-bold {
  font-weight: 500;
}
.fw-extrabold {
  font-weight: 600;
}

.font-size-20 {
  font-size: 1.25rem;
}

.font-size-30 {
  font-size: 1.875rem;
}

.border-right-0 {
  border-right: 0;
}

.btn-outline-purple {
  background-color: transparent;
  border: 1px solid $purple;
  color: $purple;
  font-weight: 600;
}
.btn-outline-green1 {
  border-color: $purple;
  color: $purple;
  background-color: transparent;
  font-weight: 600;
}

.btn-outline-main-secondary {
  background-color: transparent;
  border: 1px solid $purple;
  color: $purple;
  font-weight: 600;
}

.btn-purple {
  background-color: $purple;
  border-color: $purple;
  color: $white;
}

.border-purple {
  border-color: $purple !important;
}
