@import "bootstrap";
@import "bootstrap-vue";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "./variables.scss";

html,
body {
  height: 100%;
  color: $blue;
}

#app {
  height: 100%;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: $black;
}

.bg-green {
  background-color: $green;
}

.bg-gray {
  background-color: $gray;
}
.bg-gray2 {
  background-color: $gray2;
}
.bg-gray3 {
  background-color: $gray3;
}

.text-white {
  color: $white;
}

.text-purple {
  color: $purple1;
}

.text-gray {
  color: $gray;
}

.text-purple {
  color: $purple1;
}

.text-green {
  color: $green;
}

.fw-lightbold {
  font-weight: 300;
}

.fw-semibold {
  font-weight: 400;
}

.fw-bold {
  font-weight: 500;
}
.fw-extrabold {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.font-size-16 {
  font-size: 1rem;
}

.font-size-20 {
  font-size: 1.25rem;
}

.font-size-25 {
  font-size: 1.5625rem;
}

.font-size-30 {
  font-size: 1.875rem;
}

.font-size-40 {
  font-size: 2.5rem;
}

.font-size-60 {
  font-size: 3.75rem;
}

.border-right-0 {
  border-right: 0;
}
